.container-searchbar {
    margin-bottom: 50px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -2px rgb(0 0 0 / .15);
    padding: 10px;
    border-radius: 10px;
    display: flex; 
    gap: 15px;
    justify-content: space-between;
} 
.container-searchbar input {
    border: 1px solid #cecece;
    border-radius: 5px;
    padding-left: 10px; 
} 
select {
    height: 40px;
    border: 1px solid #cecece;
    background: white;
}